<launch>
  <!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" ></include>-->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    <arg name="port" value="9000"/>
  </include>
  <node pkg="ros_websocket_test" name="webserver" type="webserver.py" args="8000" required="true" />
</launch>
